
<!DOCTYPE html>

<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> CERVEZAS 7ALEO </title>
    <link rel="stylesheet" href="css/micss.css">
  </head>

  <body>
    <div class="header">
      <center>
        <h1><i> ¡EDICIONES LIMITADAS! </i></h1>
        <hr>
      </center>
    </div>

    <a href="index.html">
      <img src="imagenes/back.png" alt="RETURN" width="70" height="90">
    </a>

    <table class="container">
      <tr>
        <th>
          <div class="column">
            <img id="especiales" src="imagenes/Lagarta.jpg" alt="LAGARTA">
            <br>
            <h6> DETALLES DEL PRODUCTO </h6>
              <p id="lagarta">
                <b> Tipo: </b> Cerveza Rubia <br>
                <b> Alcohol: </b>  5-10 Grados <br>
                <b> Origen: </b> Extremadura <br>
                <b> Precio: </b> 2,75€
              </p>
          </div>
        </th>

        <th>
          <div class="column">
            <img id="especiales" src="imagenes/LaLoba.jpg" alt="LA LOBA">
            <br>
            <h6> DETALLES DEL PRODUCTO </h6>
            <p id="loba">
              <b> Tipo: </b> Cerveza Rubia <br>
              <b> Alcohol: </b>  12-15 Grados <br>
              <b> Origen: </b> Extremadura <br>
              <b> Precio: </b> 2,75€
            </p>
          </div>
        </th>
      </tr>
    </table>

    <footer>
      <hr>
      <center>
        <p> Design by Beatriz Vicario <br>
          Github: <a href="https://github.com/beavicario">github/beavicario</a></p>
      </center>
    </footer>

  </body>

</html>
