
{% extends "base.html" %}
{%block content%}
{%load staticfiles%}

    <table class="container">
      <tr>
        <th>
          <div class="column">
              <img src="{% static 'imagenes/burbujas.jpg' %}" alt="" width="270" height="190">
              <br>
              <a href="cerveza_ARTESANAS"><button>CERVEZAS ARTESANAS</button></a>
          </div>
        </th>

        <th>
          <div class="column">
              <img src="{% static 'imagenes/burbujas.jpg' %}" alt="" width="270" height="190">
              <br>
              <a href="cerveza_CELIACOS"><button>CERVEZAS SIN GLUTEN</button></a>
          </div>
        </th>

        <th>
          <div class="column">
              <img src="{% static 'imagenes/burbujas.jpg' %}" alt="" width="270" height="190">
              <br>
              <a href="cerveza_ESPECIALES"><button>EDICIONES LIMITADAS</button></a>
          </div>
        </th>
      </tr>
    </table>

{%endblock%}
