
<!DOCTYPE html>

<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> CERVEZAS 7ALEO </title>
    <link rel="stylesheet" href="css/micss.css">
  </head>

  <body>
    <div class="header">
      <center>
          <h1><i> ¡APTAS PARA CELIACOS! </i></h1>
          <hr>
      </center>
    </div>

    <a href="index.html">
      <img src="imagenes/back.png" alt="RETURN" width="70" height="90">
    </a>

      <table class="container">
        <tr>
          <th>
            <div class="column">
              <img id="gluten" src="imagenes/BlondeAle.jpg" alt="BLONDE ALE">
              <h6> DETALLES DEL PRODUCTO </h6>
                <p id="blondeale">
                  <b> Tipo: </b> Cerveza Rubia <br>
                  <b> Alcohol: </b> 0,5-5 Grados <br>
                  <b> Origen: </b> Cataluña <br>
                  <b> Precio: </b> 2,95€
                </p>
            </div>
          </th>

          <th>
            <div class="column">
              <img id="gluten" src="imagenes/Heretic.jpg" alt="HERETIC">
              <br>
              <h6> DETALLES DEL PRODUCTO </h6>
                <p id="heretic">
                  <b> Tipo: </b> Cerveza Tostada <br>
                  <b> Alcohol: </b>  8-10 Grados <br>
                  <b> Origen: </b> Cataluña <br>
                  <b> Precio: </b> 3,70€
                </p>
            </div>
          </th>

          <th>
            <div class="column">
              <img id="gluten" src="imagenes/DrCalypso.jpg" alt="DR. CALYPSO">
              <br>
              <h6> DETALLES DEL PRODUCTO </h6>
                <p id="drcalypso">
                  <b> Tipo: </b> Cerveza Rubia <br>
                  <b> Alcohol: </b>  5-8 Grados <br>
                  <b> Origen: </b> Cataluña <br>
                  <b> Precio: </b> 3,15€
                </p>
            </div>
          </th>
        </tr>
      </table>


      <footer>
        <hr>
        <center>
          <p> Design by Beatriz Vicario <br>
            Github: <a href="https://github.com/beavicario">github/beavicario</a></p>
        </center>
      </footer>

    </body>

  </html>
